extends layout

block content
  h1.text-center= title
  .chat-links
    span こんにちは、#{user}さん！
    .float-right
      form(action='/users/logout' method='post')
        a(href='javascript:', onClick='forms[0].submit()' ) ログアウト
  .chat-room
    .text-center
      form(action="")
        input(id="m" autocomplete="off" class="chat-form")
        button 送信
      .current-room.info-log
        span 現在のルーム：
        span#room-name public
        
    .chat-box
      .chat-logs
        ul(id="messages")
          li.info-log 入室しました。
      .roster
        p ログイン中
        ul(id="roster")

  script(src='/socket.io/socket.io.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(type='text/javascript' src='/javascripts/iochat.js')