extends layout

block content
  h1.text-center= title
  .chat-links
    span こんにちは、#{user}さん！
    .float-right
      form(action='/users/logout' method='post')
        a(href='javascript:', onClick='forms[0].submit()' ) ログアウト
  .chat-room
    p log