extends layout

block content
  h1.text-center= title
  .user-form
    form(action="/users/" method="post")
      .form
        label(for="user_name") メールアドレス：
        .float-right
          input(id="user_name" type="text" name="name_field")
      .form
        label(for="user_password") パスワード：
        .float-right
          input(id="user_password" type="password" name="password_field")
      .text-center
        input(type="submit" value="認証")
      .text-right.links
        a(href="/users/signup") 新規登録