extends layout

block content
  h1.text-center ログイン
  .user-form
    .error-messages= error
    form(action="/users/login" method="post")
      .form
        label(for="user_email") メールアドレス：
        .float-right
          input(id="user_email" type="text" value=email name="email")
      .form
        label(for="user_password") パスワード：
        .float-right
          input(id="user_password" type="password" name="password")
      .text-center
        input(type="submit" value="認証")
        input(type="hidden" name="_csrf" value=csrfToken)
    .text-right.links
      a(href="/users/signup") 新規登録