body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a:hover {
  color: pink;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.user-form {
  width: 250px;
  margin: 0 auto;
  border: 1px solid lightgrey;
  padding: 25px 20px;
  border-radius: 10px;
}
.form {
  margin-bottom: 5px;
}
.links {
  margin-top: -15px;
  font-size: .9em;
}