body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.user-form {
  width: 230px;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 20px;
}
.form {
  margin-bottom: 5px;
}