body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a:hover {
  color: pink;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}


.float-right {
  float: right;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.user-form {
  width: 300px;
  margin: 0 auto;
  border: 1px solid lightgrey;
  padding: 25px 20px;
  border-radius: 10px;
}
.form {
  margin-bottom: 15px;
}
.links {
  margin-top: -15px;
  font-size: .9em;
}
.error-messages {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.chat-room {
  width: 500px;
  max-width: 90%;
  border: 1px solid lightgrey;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  overflow: scroll
}
.chat-links {
  width: 500px;
  max-width: 90%;
  padding: 10px;
  margin: 0 auto;
}
.chat-box {
  padding: 15px 0;
  display: flex;
}
.chat-logs {
  overflow: scroll;
  height: 700px;
  max-height: 58vh;
  width: 80%;
}
.roster {
  width:18%;
}
.chat-form {
  width: 70%;
}
.info-log {
  color: grey;
  font-size: 0.9em;
}